@import url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;500;700&family=Jura:wght@400;700&family=Muli:wght@400;700&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Poppins:wght@400;700&display=swap');


:root {
    --gold: rgb(227,177,53);
    --yellow: #ff9e09;
    --grey:#ece8dc;
    --white: #fff;
    --dark: #222;

}



body{
background: var(--white);
color: var(--dark);
font-family: 'Jura', sans-serif !important;
line-height: 1.7;
}

h1, h2,h3, h4, h5, h6{
    font-family: 'Enriqueta', serif !important;
  /*   letter-spacing: 0.25rem !important;
 */
}

.text-yellow{
    color: var(--yellow)
}

.cart-icon{
    cursor: pointer;
    color: var(--gold);
    font-size: 2rem;
}

.logo{
   background-color: var(--gold);
   -webkit-background-clip: text;
   color:transparent
}